<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css">
        <script src="bower_components/sweetalert2/dist/sweetalert2.all.min.js"></script>

        <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>voting</title>
    </head>

    <body>
        <div id="app"></div>
    </body>
</html>
