<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyCqcYZ08Shg1mRJZapvrf4_8CgP-yhJOR8&sensor=false"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>2017 HCI</title>
    </head>

    <body>
        <div id="app"></div>
    </body>
</html>
